.grid {
	width: 600px;
	height: 600px;
	border: solid yellow 2px;
	display: flex;
	flex-wrap: wrap;
  background-color: lightblue;
}

.grid div {
	width: 40px;
	height: 40px;
}

.invader {
  height: 200px;
  width: 200px;
  background-image: url("images/a2.png");
  background-size: cover;
  background-position: center;
}

.shooter {
  height: 200px;
  width: 200px;
  background-image: url("images/ss2.png");
  background-size: cover;
  background-position: center;
}

.laser {
  background-image: url("images/laser.png");
}

.boom {
  background-image: url("images/boom.png");
}

body {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#hi {
  font-size: 200px;
  color: yellowgreen;
}
