.grid {
	width: 300px;
	height: 300px;
	border: solid yellow 1px;
	display: flex;
	flex-wrap: wrap;
  background-color: lightblue;
}

.grid div {
	width: 20px;
	height: 20px;
}

.invader {
  height: 100px;
  width: 100px;
  background-image: url("images/a2.png");
  background-size: cover;
  background-position: center;
}

.shooter {
  height: 100px;
  width: 100px;
  background-image: url("images/ss2.png");
  background-size: cover;
  background-position: center;
}

.laser {
	background-color: orange;
}

.boom {
	background-color: red;
}

body {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#hi {
  font-size: 100px;
  color: yellowgreen;
}
