.grid {
	width: 600px;
	height: 600px;
	border: solid yellow 2px;
	display: flex;
	flex-wrap: wrap;
  background-color: rgb(0, 221, 255);
}

.grid div {
	width: 40px;
	height: 40px;
}

.invader {
  height: 200px;
  width: 200px;
  background-image: url("images/a2.png");
  background-size: cover;
  background-position: center;
}

.shooter {
  background-image: url("images/ss2.png");
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
}

.laser {
  background-image: url("images/laser.png");
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
}

.boom {
  background-image: url("images/boom.png");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#si {
  font-size: 60px;
  color: yellowgreen;
  margin-top: 70px;
}

#results {
  margin-top: -40px;
  margin-bottom: -2px;
  color: white;
}
